<main>
  <div class="search_input">
    <mat-form-field>
      <input matInput placeholder="Pesquisar por nome..." autocomplete="off" [(ngModel)]="search">
    </mat-form-field>

    <button mat-mini-fab color="primary" (click)="getBooks()">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <div *ngIf="hasBooks" class="books-grid">
    <book-card *ngFor="let book of books" [book]="book"></book-card>
  </div>
  <no-results *ngIf="!hasBooks"></no-results>

  <div style="margin-top: 4rem;">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <mat-paginator [length]="pageEvent.length" [pageSize]="pageEvent.pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="onPageEvent($event)">
    </mat-paginator>
  </div>
</main>
