<main>
  <mat-form-field>
    <mat-label>Pesquisar</mat-label>
    <input matInput placeholder="Pesquisar..." autocomplete="off" [(ngModel)]="search">
    <button mat-icon-button matSuffix color="primary" (click)="getBooks()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <mat-tab-group (selectedTabChange)="onTabChanged($event);" mat-align-tabs="center">
    <mat-tab>
      <div *ngIf="hasBooks" class="books-grid">
        <book-card *ngFor="let book of books" [book]="book"></book-card>
      </div>
      <no-results *ngIf="!hasBooks"></no-results>
      <ng-template mat-tab-label>
        <mat-icon>search</mat-icon>
        Pesquisar
      </ng-template>
    </mat-tab>
    <mat-tab label="Favoritos">

      <div *ngIf="hasBooks" class="books-grid">
        <book-card *ngFor="let book of books" [book]="book"></book-card>
      </div>
      <no-results *ngIf="!hasBooks"></no-results>
      <ng-template mat-tab-label>
        <mat-icon>favorite</mat-icon>
        Favoritos
      </ng-template>
    </mat-tab>
  </mat-tab-group>


  <div style="margin-top: 4rem;">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <mat-paginator [length]="pageEvent.length" [pageSize]="pageEvent.pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="onPageEvent($event)">
    </mat-paginator>
  </div>
</main>
