<main>
  <mat-form-field class="search_input" color="secondary">
    <input matInput placeholder="Pesquisar por nome..." autocomplete="off" [value]="search"
      (input)="onSearch($event.target.value)">
  </mat-form-field>

  <div *ngIf="pageEvent" class="books-grid">
    <book-card *ngFor="let book of books" [book]="book"></book-card>
  </div>

  <div [style.margin-top.rem]="2">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <mat-paginator [length]="pageEvent.length" [pageSize]="pageEvent.pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="onPageEvent($event)">
    </mat-paginator>
  </div>
</main>
