:root {
  font-size: 60%;

  --green: #5c821a;
  --light-green: #c6d166;
  --dark-green: #0f1b07;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}
