@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
  font-size: 60%;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}
