
.card_container {
  display: flex;
  align-items: stretch;
  padding: 0px;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 3px 3px 10px #555;
  position: relative;
  box-sizing: border-box;
  transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  .thumbnail {
    max-width: 12rem;
    height: auto;
    width: auto;
    border-radius: 1rem 0 0 1rem;
  }

  .thumb_substitute {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem 0;
    height: auto;
    width: 100px;
  }

  .card-info {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    padding: 2rem;
    box-sizing: border-box;

    .card-header {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: flex-start;

      .card-title {
        font-size: 2rem;
        max-width: 100%;
        font-weight: bold;
      }

      .card-subtitle{
        margin-top: 1rem;
        font-size: 1.2rem;
      }
    }

    .card-footer {
      display: flex;
      flex-direction: row-reverse;
    }

    @media (max-width: 500px){
      padding: 1rem;

      .card-header {
        display: none;
      }
    }

  }

  @media (max-width: 500px){
    align-items: center;
  }
}

.card_container:hover {
  transform: scale(1.05);
}

@media (max-width: 1000px) {
  .card_container:hover {
    transform: none;
  }
}
