.mat-card {
  display: flex;
  align-items: stretch;
  border-radius: 2rem;
  border: 1px solid rgba(0,0,0,.12);
  box-sizing: border-box;

  .card-image {
    width: 17rem;
    height: auto;
    min-height: 6rem;
    border-radius: 2rem 0 0 2rem;
    margin-right: 4rem;


    img {
      width: 15rem;
      height: auto;
      border-radius: 2rem 0 0 2rem;
    }

    .img-substitute {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 1000px) {
  .mat-card {
    align-items: center;
    flex-direction: column;

    .card-content {
      margin-top: 2rem;
    }

    .card-image {
      border-radius: 0;
      margin-right: 0;

      img {
        border-radius: 2rem;
      }
    }

    .mat-card-actions {
      display: flex;
      justify-content: center;
    }
  }
}
