<div class="card_container">
  <img class="thumbnail" *ngIf="book.thumbnail.length > 0" mat-card-image src="{{ book.thumbnail }}">
  <div class="thumb_substitute" *ngIf="book.thumbnail.length == 0">
    <mat-icon>insert_photo</mat-icon>

  </div>

  <div class="card-info">
    <div class="card-header">
      <div class="card-title">
        {{ book.title }}
      </div>
      <div class="card-subtitle">
        {{ book.authors }}
      </div>
    </div>
    <div class="card-footer">
      <button mat-icon-button color="primary" (click)="favorite(book.id)"
        aria-label="Example icon button with a heart icon">
        <mat-icon *ngIf="book.isFavorite">favorite</mat-icon>
        <mat-icon *ngIf="!book.isFavorite">favorite_border</mat-icon>
      </button>
    </div>
  </div>
</div>
