<mat-card>
  <div class="card-image">
    <img *ngIf="book.thumbnail.length > 0" src="{{ book.thumbnail }}">
    <div *ngIf="book.thumbnail.length == 0" class="img-substitute">
      <mat-icon color="primary">insert_photo</mat-icon>
    </div>
  </div>
  <div class="card-content">
    <mat-card-title>{{book.title}}</mat-card-title>
    <mat-card-subtitle>{{book.authors}}</mat-card-subtitle>
    <mat-card-actions>
      <button mat-icon-button color="primary" (click)="favorite(book.id, !book.isFavorite)"
        aria-label="Example icon button with a heart icon">
        <div *ngIf="book.isFavorite; then isTrue else isFalse"></div>
        <ng-template #isTrue>
          <mat-icon>favorite</mat-icon>
        </ng-template>
        <ng-template #isFalse>
          <mat-icon>favorite_border</mat-icon>
        </ng-template>
      </button>
      <a [routerLink]="['/', book.id] " mat-button color="primary">
        Mais detalhes <mat-icon>arrow_forward</mat-icon>
      </a>
    </mat-card-actions>
  </div>
</mat-card>
